.app {
  padding: 20px;
  margin: 0 auto;
  max-width: 100%; /* Use the whole screen width for PC */
  width: 100%;
}

nav {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

nav a {
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  border-radius: 8px;
}

nav a:hover {
  background-color: transparent;
}
nav a:focus,
nav a:hover {
  box-shadow: none;
  outline: none;
}

.controls {
  margin: 20px 0;
  display: flex;
  gap: 10px;
  justify-content: center;
}


.controls button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.ignition-delay {
  text-align: center;
  margin-bottom: 20px;
}

.charts {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.chart {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.chart h2 {
  margin-top: 0;
  margin-bottom: 20px;
}

.charts-container {
  padding: 20px;
}

/* Media queries for mobile devices */
@media (max-width: 768px) {
  .app {
    padding: 10px;
    max-width: fit-content;
  }
  .controls {
    flex-direction: column;
    gap: 5px;
  }
  .controls button {
    width: 100%;
    padding: 10px;
    font-size: 14px;
  }
  .charts {
    gap: 20px;
  }
  .chart {
    padding: 15px;
  }
  .chart h2 {
    font-size: 18px;
    margin-bottom: 15px;
  }
}

/* Media queries for very small devices */
@media (max-width: 480px) {
  .app {
    padding: 5px;
  }
  .controls button {
    padding: 8px;
    font-size: 12px;
  }
  .chart {
    padding: 10px;
  }
  .chart h2 {
    font-size: 16px;
    margin-bottom: 10px;
  }
}

/* Media queries for larger screens */
@media (min-width: 1024px) {
  .app {
    max-width: 100%; /* Ensure the app uses the full width of the screen */
    padding: 40px; /* Add more padding for larger screens */
  }
  .charts {
    flex-direction: row; /* Display charts in a row on larger screens */
    flex-wrap: wrap; /* Allow charts to wrap to the next line */
    gap: 20px;
  }
  .chart {
    flex: 1 1 calc(50% - 20px); /* Ensure charts take up half the width with some gap */
    padding: 20px;
  }
}